# Logs
logs
*.log
# Dependency directories
node_modules/
# Deploy directory
lib
# Optional npm cache directory
.npm
# dotenv environment variables file
.env
# Config files
src/config/test.*
src/config/development.*
src/config/production.*
